<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Django Uygulaması{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        body{
            background-color: lightsalmon;
        }
        h1{
            color: teal;
            font-style: italic;
        }
        h3{
            font-style:italic;
            color: teal;
        }
    </style>
</head>
<body>
        {% include 'messages.html' %}
        {% block body %}
        {% endblock %}
        {% include 'header.html' %}
        <script src="/static/js/jquery.min.js"></script>
        <script  src="/static/js/bootstrap.min.js"></script>

</body>
</html>